<div class="sidebar">
    <div class="sidebar__menu">
        <div class="sidebar__options">
            <a href="{% url 'dashboard' %}" class="sidebar__item">Dashboard</a>
            <a href="{% url 'cftv' %}" class="sidebar__item">CFTV</a>
            <a href="{% url 'impressoras' %}" class="sidebar__item">Impressoras</a>
            <a href="{% url 'manutencoes' %}" class="sidebar__item">Manutenções</a>
            <a href="{% url 'servidores' %}" class="sidebar__item">Servidores</a>
            <a href="{% url 'telefones' %}" class="sidebar__item">Telefones</a>
            <a href="{% url 'emails' %}" class="sidebar__item">Emails</a>
        </div>
        <!-- Botão de logout -->
        <a href="{% url 'logout' %}" class="sidebar__item logout-button">Sair</a>
    </div>
</div>