{% extends "base.html" %}
{% load static%}

{% block 'head'%}
<link rel="stylesheet" href="{% static 'home/css/categorias.css' %}">
{% endblock 'head'%}

{% block 'body' %}

<div class="center__container">
    <div id="cards">
        <div class="servicos">
            <section class="servicos-itens">
                <a href="{% url 'impressoras' %}" class="cards">
                    <div class="cards__card1">
                        <span>Impressoras</span>
                    </div>
                </a>
                <a href="{% url 'telefones' %}" class="cards">
                    <div class="cards__card2">
                        <span>Telefones</span>
                    </div>
                </a>
                <a href="" class="cards">
                    <div class="cards__card3">
                        <span>Switchs</span>
                    </div>
                </a>
                <a href="" class="cards">
                    <div class="cards__card4">
                        <span>DVRs</span>
                    </div>
                </a>
                <a href="" class="cards">
                    <div class="cards__card5">
                        <span>Servidores</span>
                    </div>
                </a>
                <a href="{% url 'manutencoes' %}" class="cards">
                    <div class="cards__card6">
                        <span>Manutenções</span>
                    </div>
                </a>
            </section>
        </div>
    </div>
</div>

{% endblock 'body' %}