body {
    font-family: Arial, sans-serif;
  }

  form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="number"],
  input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Garante que o padding não aumente o tamanho do elemento */
  }

  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #3e8e41;
  }

  .error {
    color: red;
    font-size: 0.8em;
    margin-top: -10px; /* Ajusta a margem superior para aproximar da caixa de texto */
    margin-bottom: 5px;
  }

  h1 {
    text-align: center;
    justify-content: center;
    margin-bottom: 25px;
  }

  .container-cad {
        display: flex;
        margin-left: 260px; /* Deixa espaço para a sidebar fixa */
  }