altair
asgiref
beautifulsoup4
Django>=5.2,<6.0
dotenv
GitPython
ipykernel
ipython
jedi
Jinja2
joblib
jsonschema
jupyter_client
jupyter_core
matplotlib
nbformat
numpy
pandas
patsy
Pillow
plotly
plotly-express
protobuf
psutil
pyarrow
pydeck
Pympler
python-dotenv
requests
scikit-learn
scipy
seaborn
sqlparse
statsmodels
streamlit
streamlit-option-menu
tenacity
watchdog
