{% extends "base.html" %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'impressoras/css/departamentos.css' %}">
{% endblock 'head' %}

{% block 'body' %}

{% include 'impressoras/partials/_sidebar.html' %}

<div class="container-dpto">

    <h1 class="departments-title">Departamentos</h1>
    <div class="departments-grid">
      {% for departamento in departamentos %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ departamento.departamento }}</h5>
            </div>
        </div>
      {% empty %}
        <p>Nenhum equipamento encontrado.</p>
      {% endfor %}
    </div>

</div>

{% endblock 'body' %}
