{% extends "base.html" %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'impressoras/css/listar_equipamentos.css' %}">
{% endblock 'head' %}

{% block 'body' %}

{% include 'impressoras/partials/_sidebar.html' %}

<div class="container-dpto">

    <h1 class="equip-title">Impressoras</h1>
    <div class="equip-grid">
      {% for impressora in impressoras %}
        <div class="card">
            <div class="card-body">
              <a href="http://{{ impressora.ip}}" class="card-link" target="_blank">
                <h5 class="card-title">{{ impressora.nome_dispositivo }}</h5>
                <p><strong>IP:</strong> {{ impressora.ip }}</p>
                <p><strong>Status:</strong> {{ impressora.status }}</p>
              </a>
            </div>
        </div>
      {% empty %}
        <p>Nenhum equipamento encontrado.</p>
      {% endfor %}
    </div>

</div>

{% endblock 'body' %}
