{% extends "base.html" %}
{% load static%}

{% block 'head'%}
<link rel="stylesheet" href="{% static 'impressoras/css/cadastro.css' %}">
{% endblock 'head'%}

{% block 'body' %}
<body>
    
    <div class="container">
        {% include 'impressoras/partials/_sidebar.html' %}
        <div class="form-container">
            <h1>Cadastrar Manutenção</h1>

            {% if messages %}
                <br>
                {% for message in messages %}
                    <section class="alert {{message.tags}}">
                        {{message}}
                    </section>
                {% endfor %}
            <script>
                // Exibe o popup e redireciona após 2 segundos
                setTimeout(() => {
                    window.location.href = "{% url 'listar_manutencoes' %}";
                }, 1000);
            </script>
            {% endif %}

            <form action="" method="post">  
                {% csrf_token %}

                <label for="nome_dispositivo">Nome do Dispositivo:</label>
                <input type="text" id="nome_dispositivo" name="nome_dispositivo" required>

                <label for="departamento">Departamento:</label>
                <select id="departamento" name="departamento" required>
                    <option value="">Selecione um departamento</option>
                    {% for departamento in departamentos %}
                        <option value="{{ departamento.id }}">{{ departamento.departamento }}</option>
                    {% endfor %}
                </select>

                <label for="status">Status:</label>
                <select name="status" id="status">
                    <option value="Ativo">Ativo</option>
                    <option value="Inativo">Inativo</option>
                </select>

                <label for="descricao">Descrição:</label>
                <input type="text" id="descricao" name="descricao" required>

                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
</body>
{% endblock 'body' %}
