{% extends "base.html" %}
{% load static %}

{% block 'head'%}
<link rel="stylesheet" href="{% static 'usuarios/css/login.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
{% endblock 'head'%}

{% block 'body' %}
<div class="container-login">
    <!-- Área da imagem -->
    <div class="left-side">
        <img src="{% static 'usuarios/img/Login.png' %}" alt="Imagem ilustrativa">
    </div>

    <!-- Área do formulário -->
    <div class="right-side">
        <h2>Login</h2>
        {% if messages %}
                {% for message in messages %}
                    <section class="alert {{message.tags}}">
                        {{message}}
                    </section>
                {% endfor %}

            <script>
                //Redireciona após 1 segundo
                setTimeout(() => {
                    window.location.href = "{% url 'dashboard' %}";
                }, 1000);
            </script>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <label for="username">Username</label>
            <div class="input-container">
                <i class="fa fa-user icon"></i>
                <input type="username" id="username" name="username" required>
            </div>

            <label for="password">Senha:</label>
            <div class="input-container">
                <i class="fa fa-lock icon"></i>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="extras">
                <div class="remember-me">
                    <input type="checkbox" id="remember-me" name="remember-me">
                    <label for="remember-me">Lembrar-me</label>
                </div>

                <div class="forgot-password">
                    <a href="#">Esqueci minha senha</a>
                </div>
            </div>

            <button type="submit">
                Entrar <i class="fa fa-arrow-right"></i>
            </button>

            <div class="register-link">
                <p>Não tem uma conta? <a href="{% url 'register' %}">Registrar</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock 'body' %}
