{% extends "base.html" %}
{% load static%}

{% block 'head'%}
<link rel="stylesheet" href="{% static 'usuarios/css/login.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
{% endblock 'head'%}

{% block 'body' %}

    <div class="container-login">
        <!-- Área da imagem/vídeo -->
        <div class="left-side">
            <img src="#" alt="Imagem ilustrativa">
            <!-- Para usar vídeo, substitua a tag img por uma tag video -->
            <!-- <video autoplay loop muted>
                <source src="video.mp4" type="video/mp4">
            </video> -->
        </div>
        
        <!-- Área do formulário -->
        <div class="right-side">
            <h2>Login</h2>
            <form>
                <label for="email">E-mail:</label>
                <div class="input-container">
                    <i class="fa fa-user icon"></i>
                    <input type="email" id="email" name="email" required>
                </div>
        
                <label for="password">Senha:</label>
                <div class="input-container">
                    <i class="fa fa-lock icon"></i>
                    <input type="password" id="password" name="password" required>
                </div>
        
                <button type="submit">
                    Entrar <i class="fa fa-arrow-right"></i>
                </button>
            </form>
        </div>

{% endblock 'body' %}