{% extends "base.html" %}
{% load static %}

{% block 'head'%}
<link rel="stylesheet" href="{% static 'usuarios/css/register.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
{% endblock 'head'%}

{% block 'body' %}
<div class="container-register">
    <!-- Área da imagem -->
    <div class="left-side">
        <img src="{% static '\usuarios\img\Register.png' %}" alt="Imagem ilustrativa">
    </div>

    <!-- Área do formulário -->
    <div class="right-side">
        <h2>Cadastre-se</h2>
        {% if messages %}
            {% for message in messages %}
            <section class="alert {{message.tags}}">
                {{message}}
            </section>
            {% endfor %}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <label for="username">Username:</label>
            <div class="input-container">
                <i class="fa fa-user icon"></i>
                <input type="username" id="username" name="username" required>
            </div>

            <label for="email">E-mail:</label>
            <div class="input-container">
                <i class="fa-solid fa-envelope icon"></i>
                <input type="email" id="email" name="email" required>
            </div>

            <label for="password">Senha:</label>
            <div class="input-container">
                <i class="fa fa-lock icon"></i>
                <input type="password" id="password" name="password" required>
            </div>

            <label for="confirm_password">Repetir Senha:</label>
            <div class="input-container">
                <i class="fa fa-lock icon"></i>
                <input type="password" id="confirm_password" name="confirm_password" required>
            </div>

            <button type="submit">
                Cadastre-se <i class="fa fa-right-to-bracket"></i>
            </button>

            </div>
        </form>
    </div>
</div>
{% endblock 'body' %}
