{% extends "base.html" %}
{% load static%}

{% block 'head'%}
<link rel="stylesheet" href="{% static 'cftv/css/cad_cftv.css' %}">
{% endblock 'head'%}

{% block 'body' %}
<body>
    
    <div class="container">
        {% include 'cftv/partials/_sidebar.html' %}
        <div class="form-container">
            <h1>Cadastro de DVR</h1>

            {% if messages %}
                <br>
                {% for message in messages %}
                    <section class="alert {{message.tags}}">
                        {{message}}
                    </section>
                {% endfor %}
            <script>
                // Exibe o popup e redireciona após 2 segundos
                setTimeout(() => {
                    window.location.href = "{% url 'cftv' %}";
                }, 1000);
            </script>
            {% endif %}

            <form action="" method="post">  
                {% csrf_token %}

                <label for="nome_dispositivo">Nome do Dispositivo:</label>
                <input type="text" id="nome_dispositivo" name="nome_dispositivo" required>

                <label for="ip">IP:</label>
                <input type="text" id="ip" name="ip" required placeholder="Ex: 192.168.1.100">

                <label for="rack">Rack:</label>
                <select id="rack" name="rack" required>
                    <option value="">Selecione um rack</option>
                    <option value="Sala de cabos">Sala de cabos</option>
                    <option value="Sala da TI">Sala da TI</option>
                    <option value="CMU">CMU</option>
                    <option value="Corredor CMU">Corredor CMU</option>
                    <option value="Laboratório">Laboratório</option>
                    <option value="CDU">CDU</option>
                </select>

                <label for="status">Status:</label>
                <select name="status" id="status">
                    <option value="Ativo">Ativo</option>
                    <option value="Inativo">Inativo</option>
                </select>

                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
</body>
{% endblock 'body' %}
