{% extends "base.html" %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'cftv/css/departamentos.css' %}">
{% endblock 'head' %}

{% block 'body' %}

{% include 'cftv/partials/_sidebar.html' %}

<div class="container-dpto">
    <h1 class="departments-title">Departamentos</h1>

    <div class="departments-grid">
        {% for cftv in cftvs %}
          <div class="card">
              <div class="card-body">
                <a href="http://{{ cftv.ip }}" class="card-link" target="_blank">
                  <h5 class="card-title">{{ cftv.nome_dispositivo }}</h5>
                  <p><strong>IP:</strong> {{ cftv.ip }}</p>
                  <p><strong>Rack:</strong> {{ cftv.rack }}</p>
                </a>
              </div>
          </div>
        {% empty %}
          <p>Nenhum equipamento encontrado.</p>
        {% endfor %}
      </div>

</div>

{% endblock 'body' %}