{% extends "base.html" %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'manutencoes/css/departamentos.css' %}">
{% endblock 'head' %}

{% block 'body' %}

{% include 'manutencoes/partials/_sidebar.html' %}

<div class="container-dpto">
    <h1 class="departments-title">Departamentos</h1>

    <div class="departments-grid">
        <a href="#" class="card">
            <div class="card-body">
                <h5 class="card-title">TI</h5>
            </div>
        </a>

        <a href="#" class="card">
            <div class="card-body">
                <h5 class="card-title">RH</h5>
            </div>
        </a>

        <a href="#" class="card">
            <div class="card-body">
                <h5 class="card-title">Financeiro</h5>
            </div>
        </a>
    </div>
</div>


{% endblock 'body' %}
