{% load static %}

{% block 'head'%}
<link rel="stylesheet" href="{% static 'sidebar/css/sidebar.css' %}">
{% endblock 'head' %}

<div class="sidebar">
    <div class="sidebar__menu">
        <div class="sidebar__options">
            <a href="{% url 'dashboard' %}" class="sidebar__item">Dashboard</a>
            <a href="" class="sidebar__item">Listar Servidores</a>
            <a href="" class="sidebar__item">Cadastrar Novo Servidor</a>
            <a href="" class="sidebar__item">Departamentos</a>
        </div>
        <!-- Botão de logout -->
        <a href="#" class="sidebar__item logout-button">Sair</a>
    </div>
</div>