{% load static %}

{% block 'head'%}
<link rel="stylesheet" href="{% static 'sidebar/css/sidebar.css' %}">
{% endblock 'head' %}

<div class="sidebar">
    <div class="sidebar__menu">
        <div class="sidebar__options">
            <a href="" class="sidebar__item">Dashboard</a>
            <a href="" class="sidebar__item">Listar Equipamentos</a>
            <a href="" class="sidebar__item">Departamentos</a>
            <a href="{% url 'cad_impressora' %}" class="sidebar__item">Cadastrar equipamento</a>
            <a href="" class="sidebar__item">Manutenções</a>
            <a href="" class="sidebar__item">Trocas de toners</a>
        </div>
    </div>
</div>