{% load static %}

{% block 'head'%}
<link rel="stylesheet" href="{% static 'sidebar/css/sidebar.css' %}">
{% endblock 'head' %}

<div class="sidebar">
    <div class="sidebar__menu">
        <div class="sidebar__options">
            <a href="{% url 'dashboard' %}" class="sidebar__item">Dashboard</a>
            <a href="{% url 'listar_equipamentos' %}" class="sidebar__item">Listar Impressoras</a>
            <a href="{% url 'departamentos' %}" class="sidebar__item">Departamentos</a>
            <a href="{% url 'cad_impressora' %}" class="sidebar__item">Cadastrar Impressora</a>
            <a href="" class="sidebar__item">Manutenções</a>
            <a href="" class="sidebar__item">Trocas de toners</a>
        </div>
        <!-- Botão de logout -->
        <a href="{% url 'logout' %}" class="sidebar__item logout-button">Sair</a>
    </div>
</div>