{% extends "base.html" %}
{% load static%}

{% block 'head'%}
<link rel="stylesheet" href="{% static '#/css/#.css' %}">
{% endblock 'head'%}

{% block 'body' %}

<div class="sidebar">
    <div class="sidebar__menu">
        <div class="sidebar__options">
            <a href="" class="sidebar__item">CFTV</a>
            <a href="" class="sidebar__item">Impressoras</a>
            <a href="" class="sidebar__item">Manutenções</a>
            <a href="" class="sidebar__item">Servidores</a>
            <a href="" class="sidebar__item">Telefones</a>
        </div>
    </div>
</div>

{% endblock 'body' %}